@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400..700&family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Syne:wght@400..800&display=swap');

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-principal: #000000;
  --color-seccundario: #22D4FD;
  --color-blanco: #F2F2F2;

  --font-museo-moderno: "MuseoModerno", sans-serif;
  --font-syne: "Syne", sans-serif;
  
  --font-size-20: clamp(1.5rem, 1vw, 2rem);
  --font-size-30: clamp(2rem, 1.5vw, 3rem);
}

html {
  overflow-x: hidden;
  font-size: 10px;
}

body {
  width: 100%;
  background-color: var(--color-principal);
}

span {
  color: var(--color-seccundario);
}

main {
  padding-top: 7rem;
}

header {
  width: 100%;
  z-index: 100;
  position: fixed;
  background-color: var(--color-principal);
}

header nav {
  display: flex;
  justify-content: flex-end;
  gap: 2%;
  padding: 1% 7%;
}

header nav a {
  font-family: var(--font-museo-moderno);
  font-weight: 600;
  font-size: 2rem;
  font-optical-sizing: auto;
  color: var(--color-seccundario);
}

header nav a:hover {
  border-bottom: .2rem solid var(--color-seccundario);
  color: var(--color-blanco);
}

.home {
  padding: 5% 7%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.home > div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap;
}

.home-img {
  width: clamp(20rem, 25%, 40rem);
}

.home-img img {
  width: 100%;
}

.home-about {
  font-family: var(--font-museo-moderno);
  font-weight: 600;
  font-size: var(--font-size-20);
  font-optical-sizing: auto;
  color: var(--color-blanco);
}

.home-about {
  font-size: var(--font-size-30);
  font-weight: 700;
}

.home-about p {
  max-width: 60ch;
}

.links {
  display: flex;
  justify-content: center;
  column-gap: 4rem;
  row-gap: 1rem;
  flex-wrap: wrap;
}

.links a, button {
  border-radius: 50%;
  padding: 1%;
  font-size: 2rem;
  color: var(--color-blanco);
  background-color: var(--color-principal);
  border: .1rem solid var(--color-seccundario);
  cursor: pointer;
}

.links button:focus {
  outline: none;
}

.boton {
  font-family: var(--font-syne);
  font-weight: 600;
  font-size: var(--font-size-20);
  font-optical-sizing: auto;
  color: var(--color-blanco);
  padding: 0.5% 1%;
  border: 1px solid var(--color-seccundario);
  border-radius: 3.2rem;
  background-color: var(--color-principal);
}

.boton:hover, .links a:hover, .links button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 .8rem var(--color-seccundario);
  transition: .3s;
}
